<app-places-container title="Your Favorite Places">
  <!-- !error()  produces a falsy -->
  @if(isFetching() && !error()){
  <p class="fallback-text">Fetching favourite places...</p>
  }
  <!-- if produces non empty -->
  @if(error()){
  <p class="fallback-text">{{ error() }}</p>
  } @if (places()) {
  <app-places [places]="places()!" (selectPlace)="onRemovePlace($event)"/>
  } @else if (places().length === 0) {
  <p class="fallback-text">Unfortunately, no places could be found.</p>
  }
</app-places-container>
