@if(isAddingTask){
  <app-new-task [userId]="userId" (close)="(onCloseAddTask())" />
}

<section id="tasks">
  <header>
    <h2>{{ user }}'s Tasks</h2>
    <menu>
      <button (click)="onStartAddTask()">Add Task</button>
    </menu>
  </header>

  <ul>
    @for(task of selectedUserTasks; track task.id){
    <li>
      <!-- Using service -->
      <app-task [task]="task" />
      <!-- Using event emitter -->
      <!-- <app-task [task]="task" (complete)="onCompleteTask($event)" /> -->
    </li>
    }
  </ul>
</section>
